body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.navbar {
    background: #1e293b;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.container {
    background: white;
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}
