{% extends "base.html" %}
{% block content %}

<section class="dashboard">
    <h2 data-aos="fade-up">Welcome, {{ username }}</h2>
    <p class="subtitle">Role: Data Requester</p>

    <div class="card-grid">

        <div class="feature-card" data-aos="zoom-in">
            <i class="fa-solid fa-handshake"></i>
            <h3>Request Data Access</h3>
            <p>Request user data with defined purpose and duration.</p>
        </div>

        <div class="feature-card" data-aos="zoom-in">
            <i class="fa-solid fa-list-check"></i>
            <h3>Request Status</h3>
            <p>Track approved and denied consent requests.</p>
        </div>

    </div>
</section>

{% endblock %}