{% extends "base.html" %}
{% block content %}

<section class="dashboard">
    <h2 data-aos="fade-up">Welcome, {{ username }}</h2>
    <p class="subtitle">Role: Administrator</p>

    <div class="card-grid">

        <div class="feature-card" data-aos="zoom-in">
            <i class="fa-solid fa-clipboard-list"></i>
            <h3>Audit Logs</h3>
            <p>Monitor security-critical actions.</p>
        </div>

        <div class="feature-card" data-aos="zoom-in">
            <i class="fa-solid fa-shield-halved"></i>
            <h3>Policy Review</h3>
            <p>Review consent integrity and access policies.</p>
        </div>

    </div>
</section>

{% endblock %}