{% extends "base.html" %}
{% block content %}

<section class="hero-bg register-bg">
    <div class="login-card">
        <h1>Forgot Password</h1>
        <p class="subtitle">
            Enter your registered email to receive a one-time password.
        </p>

        <form method="POST">
            <input type="email" name="email" placeholder="Email address" required>
            <button type="submit">Send OTP</button>
        </form>

        <div class="helper">
            <a href="/login">Back to login</a>
        </div>
    </div>
</section>

{% endblock %}
