{% extends "auth_base.html" %}
{% block content %}

<div class="hero-bg login-bg">
  <div class="login-card">

    <h1>Welcome to ConsenSafe</h1>
    <p class="subtitle">
      Secure, consent-based access to sensitive data.
    </p>

    <form method="POST">
      <input type="email" name="email" placeholder="Email address" required>
      <input type="password" name="password" placeholder="Password" required>

      <div class="forgot-password">
        <a href="{{ url_for('forgot_password') }}">Forgot password?</a>
      </div>

      <button type="submit">Sign In</button>
    </form>

    <div class="helper">
      New user?
      <a href="{{ url_for('register') }}">Create an account</a>
    </div>

  </div>
</div>

{% endblock %}