{% extends "base.html" %}
{% block content %}

<section class="hero">

    <!-- Left: Registration Form -->
    <div class="hero-text" data-aos="fade-right">
        <h1>Create Your SecureRail Account</h1>
        <p>
            Register once and access secure railway booking, verification,
            and administration services.
        </p>

        <form method="POST" class="login-box">

            <input
                name="username"
                placeholder="Choose a username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Create a strong password"
                required
            >

            <select name="role" required>
                <option value="" disabled selected>Select account type</option>
                <option value="PASSENGER">Passenger</option>
                <option value="TTE">Ticket Examiner</option>
                <option value="ADMIN">System Administrator</option>
            </select>

            <button>
                <i class="fa-solid fa-user-plus"></i>
                Create Account
            </button>
        </form>

        <span class="helper">
            Already registered?
            <a href="/login">Go to login</a>
        </span>
    </div>

    <!-- Right: Visual -->
    <div class="hero-image" data-aos="fade-left">
        <img src="{{ url_for('static', filename='train_register.jpg') }}">
    </div>

</section>

{% endblock %}
